@import "tailwindcss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif !important;
  font-size: 1.3rem;
}
.main{
  display: flex;
  flex-grow: 1;
}
@media (max-width: 768px) {
  * {
    font-size: .9rem;
  }
}
@media (max-width: 475px) {
  * {
    font-size: .5rem;
  }
}
