@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-size: 1.3rem;
}
.main {
  display: flex;
  flex-grow: 1;
}
.font-poppins{
  font-family: "poppins";
}

@media (max-width: 768px) {
  * {
    font-size: 0.9rem;
  }
}
@media (max-width: 475px) {
  * {
    font-size: 0.5rem;
  }
}
