@import "tailwindcss";

.roadmap-container{
  background-color:#17153A;
  color:#fff;
  align-items: center;
  text-align: center;
  padding: 2rem;
  width: 100%; 
  overflow-x: auto;
}
.description{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin:0 auto;
  width: 80%;
}
.roadmap-container h1 u{
  font-size: 2rem;
}
.description-text{
  margin: 1rem !important;
}
.description-text span{
  color: #18E4C7;
  font-weight: bold;
}
.description-image-container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.description-image-container img{
  height: 30rem;
  width: 100%;
}
